.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main{

  width: 100%;

  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 3fr;

}

.container{

  position: relative;

  color: #f9fafc;

  background-color: #010800;

  padding: 7rem 10rem;

  }  

  .heading{

    width: 400px;

    font-family: 'Poppins';

    font-style: normal;

    font-weight: 600;

    font-size: 60px;

    line-height: 108.02%;    

    text-transform: capitalize;

    color: #FFFFFF;

  }

  .paragraph{

    width: 300px;

    height: 72px;

    font-family: 'Poppins';

    font-style: normal;

    font-weight: 400;

    font-size: 20px;

    line-height: 118%;    

    text-transform: capitalize;

    color: #FFFFFF;

    margin-top: 2rem;

   }

  .tags{

    width: 300px;

    display:flex;

    flex-wrap: wrap;

    gap:1rem;

    margin-top: 2rem;

  }

   

  .tags span{

    border: 1px solid #f9fafc;

    border-radius: 8px;

    font-family: 'Poppins';

    font-style: normal;

    font-weight: 400;

    font-size: 13px;

    line-height: 118%;

    text-transform: capitalize;

    color: #FFFFFF;

    padding: 7px 15px;



  }

  .rating{

    margin-top: 1.5rem;

  }

 

  .cart{

   display: flex;

   flex-direction: row;

   align-items: center;

   margin-top: 1.5rem;

   color: #f9fafc;

   padding: 12px 15px;

   gap: 15px;

   background: #E92525;

   border-radius: 10px;

  }

  .parallax{

    color: #f9fafc;

    grid-column: 2/3;

    background: url("jhal.png");

    background-repeat: no-repeat;

    background-color: hsl(0, 0%, 0%);

    color: aliceblue;

  }